# TP6

### `Resolver usando Pandas`

Resolver los ejercicios del TP3 utilizando la librer√≠a Pandas.

### Ejercicio 1: Cargar Datos de ventas.

El archivo datos.dat contiene el registro de las ventas realizadas.

Tiene un formato de ancho fijo:
- `fecha`:    10 lugares
- `producto`: 30 lugares
- `precio`:   10 lugares
- `cantidad`:  5 lugares

Hacer una funcion que cargue los datos en un DataFrame de Pandas.

In [10]:
import pandas as pd

def cargar_datos():
    column_widths = [10, 30, 10, 5]
    column_names = ['fecha', 'producto', 'precio', 'cantidad']
    
    df = pd.read_fwf('datos.dat', widths=column_widths, header=None, names=column_names)
    
    df['precio'] = pd.to_numeric(df['precio'], errors='coerce')
    df['cantidad'] = pd.to_numeric(df['cantidad'], errors='coerce')
    
    df['fecha'] = pd.to_datetime(df['fecha'], format='%Y-%m-%d')
    
    return df

datos = cargar_datos()
datos

        fecha    producto  precio  cantidad
0  2024-08-27     Mirinda    1510        14
1  2024-08-27     Mirinda    1560        12
2  2024-08-28     Torasso     940         8
3  2024-08-29  Pepsi Cola    1210        10
4  2024-08-30     Mirinda    1520         1
5  2024-09-01     Mirinda    1550        15
6  2024-09-01      Sprite     810         4
7  2024-09-02   Coca Cola    1100         4
8  2024-09-02  Pepsi Cola    1220        13
9  2024-09-02     Torasso     910         5
10 2024-09-02     Torasso     920         3
11 2024-09-03   Coca Cola    1020         8
12 2024-09-03     Mirinda    1570         7
13 2024-09-03     Mirinda    1590         2
14 2024-09-04  Pepsi Cola    1220        13
15 2024-09-05     Mirinda    1500         3
16 2024-09-05  Pepsi Cola    1300         5
17 2024-09-06   Coca Cola    1080         1
18 2024-09-06      Sprite     860        12
19 2024-09-06     Torasso     930         3
20 2024-09-07   Coca Cola    1080        14
21 2024-09-07      Sprite     870        13
22 2024-09-08   Coca Cola    1040        10
23 2024-09-08     Mirinda    1580         2
24 2024-09-08  Pepsi Cola    1240         9
25 2024-09-09     Mirinda    1500         3
26 2024-09-09      Sprite     850         9
27 2024-09-10     Mirinda    1590         8
28 2024-09-10  Pepsi Cola    1250        12
29 2024-09-11      Sprite     810         6
30 2024-09-11      Sprite     820        14
31 2024-09-12   Coca Cola    1080         4
32 2024-09-13     Mirinda    1580         5
33 2024-09-13  Pepsi Cola    1250        13
34 2024-09-14   Coca Cola    1080        15
35 2024-09-14  Pepsi Cola    1270        14
36 2024-09-15   Coca Cola    1100         1
37 2024-09-15     Mirinda    1500        13
38 2024-09-15      Sprite     870        14
39 2024-09-15     Torasso     900        13

### Ejercicio 2: Calcular el total de ventas.
Hacer una funci√≥n que sume los importes vendidos (precio * cantidad) y las cantidades.

In [11]:
def calcular_totales(datos):
    importe_total = (datos['precio'] * datos['cantidad']).sum()
    cantidad_total = datos['cantidad'].sum()
    
    return importe_total, cantidad_total

importe, cantidad = calcular_totales(datos)

print(f"Las ventas fueron de ${importe:.2f} en {cantidad} unidades")

Las ventas fueron de $392730.00 en 335 unidades

### Ejercicio 3: Listar las unidades vendidas.
Listar cu√°ntas unidades se vendieron en total para cada producto

In [12]:
def unidades_vendidas(datos):
    total_vendido = datos.groupby('producto')['cantidad'].sum()
    return total_vendido

unidades_vendidas(datos)

producto
Coca Cola     57
Mirinda       85
Pepsi Cola    89
Sprite        72
Torasso       32
Name: cantidad, dtype: int64

###  Ejercicio 4: Listar el precio promedio por producto.
Hacer un listado del precio promedio por producto.

In [13]:
def precio_promedio(datos):
    promedio_precio = datos.groupby('producto')['precio'].mean()
    return promedio_precio

precio_promedio(datos)

producto
Coca Cola     1072.500000
Mirinda       1545.833333
Pepsi Cola    1245.000000
Sprite         841.428571
Torasso        920.000000
Name: precio, dtype: float64

### Ejercicio 5: Ranking de productos
Realizar un listado de los 3 productos m√°s vendidos ordenados por la cantidad de unidades vendidas (ordenadas de mayor a menor)

In [14]:
def ranking_productos(datos, top=3):
    total_vendido = datos.groupby('producto')['cantidad'].sum()
    ranking = total_vendido.sort_values(ascending=False).head(top)
    return ranking

ranking_productos(datos)

producto
Pepsi Cola    89
Mirinda       85
Sprite        72
Name: cantidad, dtype: int64

### Ejercicio 6: Listar las ventas por mes
Realizar un listado del total de unidades vendidas por producto separado por mes.

In [15]:
def ventas_por_mes(datos):
    datos['mes'] = datos['fecha'].dt.to_period('M')
    
    ventas_mensuales = datos.groupby(['mes', 'producto'])['cantidad'].sum()
    
    return ventas_mensuales

ventas_por_mes(datos)

mes      producto
2024-08  Mirinda       27
         Pepsi Cola    10
         Torasso        8
2024-09  Coca Cola     57
         Mirinda       58
         Pepsi Cola    79
         Sprite        72
         Torasso       24
Name: cantidad, dtype: int64

### Ejercicio 7: Informe general

Mostrar un listado de productos ordenados alfabeticamente que contengan el precio promedio, la cantidad de unidades vendidas y el importe total vendido para cada producto

In [16]:
def resumen_ventas(datos):
    precio_promedio = datos.groupby('producto')['precio'].mean()
    
    cantidad_total = datos.groupby('producto')['cantidad'].sum()
    
    importe_total = (datos['precio'] * datos['cantidad']).groupby(datos['producto']).sum()
    
    resumen = pd.DataFrame({
        'Precio Promedio': precio_promedio,
        'Cantidad Vendida': cantidad_total,
        'Importe Total': importe_total
    }).sort_index()  
    
    return resumen

resumen_ventas(datos)

            Precio Promedio  Cantidad Vendida  Importe Total
producto
Coca Cola       1072.500000                57          60780
Mirinda         1545.833333                85         131080
Pepsi Cola      1245.000000                89         110510
Sprite           841.428571                72          61040
Torasso          920.000000                32          29320

## `Resolver usando NumPy`
## Resolver el ejercicio 2 del tp1 usando NumPy

### Ejercicio 8

Escribe una funci√≥n en Python que encuentre los valores de `a`, `b`, y `c` para que la funci√≥n cuadr√°tica `f(x) = a x^2 + b x + c` pase exactamente por los siguientes puntos:

| x  | y  |
|---:|---:|
|  0 |  0 |
|  1 |  8 |
|  2 | 12 |
|  3 | 12 |
|  5 |  0 |

### Requisitos:
- La funci√≥n debe explorar posibles valores de `a`, `b`, y `c` utilizando un m√©todo de prueba y error.
- Debe devolver los valores que hagan que la diferencia entre la funci√≥n `f(x)` y los valores medidos `y` sea exactamente cero para cada punto.

> **Pista**: Los valores de `a`, `b`, y `c` son n√∫meros peque√±os.

La idea es implementar el mismo algoritmo que se uso en el TP1 pero usando NumPy en lugar de Python puro.

In [17]:
import numpy as np

def f(x, coeficientes):
    a, b, c = coeficientes
    return a * x**2 + b * x + c

def error(y, y_pred):
    return y - y_pred

X = np.array([0,1,2,3,5])
Y = np.array([0,8,12,12,0])

def buscar_coeficientes():
    for a in range(-10, 11):
        for b in range(-10, 11):
            for c in range(-10, 11):
                coeficientes = np.array([a, b, c])
                y_pred = f(X, coeficientes)
                if np.all(np.abs(error(Y, y_pred)) < 1e-10):
                    return coeficientes
    return None

coeficientes = buscar_coeficientes()
coeficientes

array([-2, 10,  0])

### Ejercicio 9: Resolver el ejercicio 3 del TP1 usando NumPy
Buscar los coeficientes de la funci√≥n que minimice la suma de los cuadrados de las diferencias entre los valores medidos y los valores de la funci√≥n.

1. Crear un array con los coeficientes elegidos al azar (usar `randint(-10,10,3)`).
2. Calcular el valor de la funci√≥n y el error correspondiente.
3. Mientras que el error sea mayor a 1:
    1. Definir nuevos coeficientes agreg√°ndoles un peque√±o valor al azar a los coeficientes actuales (aprendizaje = 0.001).
    2. Si el error para los nuevos coeficientes es menor que el anterior, reemplazar los coeficientes actuales por los nuevos.

In [18]:
import numpy as np
from numpy.random import randint

def f(x, coeficientes):
    a, b, c = coeficientes
    return a * x**2 + b * x + c

def error(y, y_pred):
    return np.sum((y - y_pred)**2)

X = np.array([0, 1, 2, 3, 5])
Y = np.array([0, 8,12,11, 1])

def buscar_coeficientes():
    coeficientes = randint(-10, 10, 3).astype(float)
    learning_rate = 0.001
    current_error = float('inf')

    while True:
        y_pred = f(X, coeficientes)
        current_error = error(Y, y_pred)

        if current_error < 1:
            break

        new_coeficientes = coeficientes + (randint(-1, 2, 3) * learning_rate)
        new_y_pred = f(X, new_coeficientes)
        new_error = error(Y, new_y_pred)

        if new_error < current_error:
            coeficientes = new_coeficientes

    return coeficientes

coeficientes = buscar_coeficientes()
coeficientes

array([-1.78 ,  8.962,  0.625])